
<form action="/" method="post">
    <div>
        <label for="uid">UID:</label>
        <input name="uid" type="text" size="14"/>
    </div>
    <div class="button">
        <button type="submit">Send UID</button>
    </div>
</form>

<p> Or using CURL:
<pre>
  curl --data 'uid=XXXXXXXXXXXXXX' <%= request.protocol + request.host_with_port %>
</pre>
</p>
